<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Principal</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"  th:href="@{/}">CLB Store</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Usuario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Curso</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Carrera</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Rol</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" th:href="@{logout}">Cerrar Sesion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row">
                <div class="col-md-6">
                    <div th:if=${param.correcto}>
                        <div class="alert alert-success" role="alert">
                            Se registro exitosamente                  
                        </div>
                    </div>
                    <div>
                        <h1>Registro Usuario</h1>
                        <form th:action="@{/registrousuario}" method="post" th:object="${usuario}">
                            <div class="mb-3">
                                <label for="txtNom" class="form-label">Nombres:</label>
                                <input type="text" class="form-control" id="txtNom" th:field="*{nombre}" required>   
                            </div>
                            <div class="mb-3">
                                <label for="txtApe" class="form-label">Apellidos:</label>
                                <input type="text" class="form-control" id="txtApep" th:field="*{apellido}" required>   
                            </div> 

                            <div class="mb-3">
                                <label for="txtCor" class="form-label">Correo:</label>
                                <input type="text" class="form-control" id="txtCor" th:field="*{email}" required>   
                            </div>


                            <div class="mb-3">
                                <label for="txtCla" class="form-label">Clave:</label>
                                <input type="text" class="form-control" id="txtCla" th:field="*{clave}" required>   
                            </div>

                            <button type="submit" class="btn btn-primary">Registrar</button><br>
                            <span>Si ya estas registrado <a href="#">Inicia Sesion aqui</a></span>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>